@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary: #005963;
    --secondary: #14967F;
    --background: #EBF2F3;
    --accent: #E2FCD6;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #FAFCFC;
}


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
    padding: 0;
}

main {
    height: 100vh;
}

button {
    outline: none;
    background: none;
    border: none;
    padding: 0;
}

label {
    margin-bottom: 4px;
}

input[type="text"] {
    border: 1px solid #1F6C75;
    font-size: 12px;
    border-radius: 9999px;
    padding: 4px 8px;
}

a {
    color: black;
    text-decoration: none;
}

#root, #__next {
    isolation: isolate;
}

.material-symbols-outlined {
    font-size: 18px;
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}

.title {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.nav-title {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--primary);
}

.dash-btn {
    text-decoration: underline;
    color: var(--primary);
    padding: 12px 4px;
    border-radius: 12px;
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    max-width: 1200px;
    margin: auto;
    background-color: inherit;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-1_25 {
    gap: 1.25rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-4 {
    gap: 4rem;
}

.navbar {
    color: var(--primary);
    padding: 10px 10px;
    background-color: var(--background);
}

.navbar>div>div>ul>li {
    font-size: 14px;
}

.contact-btn {
    color: white;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 12px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: white;
    color: var(--primary);
    border-radius: 10px;
    padding: 4px 10px;

}

.search-box>input {
    border: none;
    border-radius: 10px;
    font-size: 12px;
    width: 110px;
}

.footer {
    color: black;
    height: 325px;
    background-color: var(--primary);
    padding: 80px;
}

footer>div>.title {
    font-size: 40px;
    line-height: 1;
}

.footer-links {
    color: #D5E4E6;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-weight: 300;
}

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chatbot-btn {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--accent);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 8px 16px 0px #00596333;
}

.chatbot-btn img {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(39%) sepia(73%) saturate(300%) hue-rotate(145deg);
}

.chatbot-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 400px;
    height: 90%;
    min-height: 80%;
    min-width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px #00596333;
    overflow: hidden;
}

.chatbot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary);
    color: white;
}

.chatbot-support {
    position: absolute;
    font-size: 14px;
    margin-right: 150px;
    padding: 5px 10px;
    border-radius: 999px;
    background-color: var(--accent);
    color: var(--primary);
    box-shadow: 0px 8px 16px 0px #00596333;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#chatbotFrame {
    width: 100%;
    height: calc(100% - 50px);
    border: none;
}

#userid {
    color: var(--primary);
    font-weight: 7  00;
}

.welcome {
    font-size: 36px;
    font-weight: 400;
    color: var(--primary);
    margin: 64px 0px 16px 0px;
}

.program-container {
    display: flex;
    gap: 1rem;
    height: 25%;
}

.program-card {
    width: 600px;
    height: 90%;
    min-height: 80%;
    min-width: 30%;
    gap: 14px;
    border-radius: 12px;
    color: white;
    padding: 10px;
    align-content: center;
}

.program-card:nth-child(1) {
    background-image: linear-gradient(145deg, #9E1212, #EE6C6C);
    color: white;
    font-size: 40px;
    font-weight: 300;
    line-height: 54px;
    padding: 0px 46px 0px 46px;
}

.program-card:nth-child(2) {
    background-image: linear-gradient(145deg, #00ACB1, #32D6C3);
    color: white;
    font-size: 40px;
    font-weight: 300;
    line-height: 54px;
    padding: 0px 46px 0px 46px;
}

.dash-main {
    height: 100%;
    margin: 10px 0px;
}